@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.page-wrapper {
  width: 1920px;
  overflow-x: hidden;
}

.page {
  color: #fff;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1920px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.rectangle-intro {
  background: url(./images/rectangle.png);
}

.header {
  display: flex;
  padding: 35.31px 0 0 0;
  width: calc(100% - 760px);
  margin: 0 auto;
}

.header__logo {
  width: 160px;
  height: 56.69px;
}
.header__navigation {
  display: flex;
  margin: 0 auto;
}

.header__links {
  margin: 19px 0 0 0;
  padding: 0;
  display: flex;
  gap: 51px;
  list-style-type: none;
}

.header__link {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
}

.header__contact {
  display: flex;
  background-color: #fb9514;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  align-items: center;
  width: 150px;
  height: 48px;
  justify-content: center;
  border-radius: 4px;
  margin-top: 5px;
  box-shadow: 0px 4px 4px 0px rgba(251, 149, 20, 0.2);
}

.header__whatsapp {
  width: 40px;
  height: 40px;
  margin: 9px 0 0 18px;
  align-items: center;
  display: flex;
}

.intro {
  margin: 184px auto 0 auto;
  max-width: 716px;
  text-align: center;
  font-size: 22px;
  line-height: 1.82;
  padding-bottom: 284px;
}

.intro__heading {
  font-weight: 800;
  font-size: 72px;
  line-height: 0.97;
  margin: 0;
}

.intro__description {
  margin: 21px 0 49px 0;
}

.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  background: #fb9514;
  box-shadow: 0px 4px 4px rgba(251, 149, 20, 0.2);
  border-radius: 4px;
  padding: 22.48px 60px 21px;
  max-width: 217px;
}

.standarts {
  position: relative;
  bottom: 100px;
  display: grid;
  grid-template-columns: repeat(7, 140px);
  grid-template-rows: 140px;
  margin: 0 auto;
  padding: 30px 33px;
  justify-content: space-between;
  max-width: 1096px;
  background-color: #fff;
  box-shadow: 0px 0px 50px 0px rgba(104, 142, 180, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.products {
  margin: 0;
  text-align: center;
  padding-bottom: 140px;
}

.products__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
  color: #282828;
  margin: 36px 0 0 0;
}
.products__description {
  margin: 3px auto 0;
  font-size: 20px;
  line-height: 1.8;
  color: #3a3a3a;
  max-width: 700px;
}
.products__images {
  display: grid;
  width: calc(100% - 760px);
  margin: 38px auto 0;
  grid-template-rows: repeat(2, 236px);
  grid-template-columns: repeat(3, 367px);
  column-gap: 30px;
  row-gap: 28px;
  box-sizing: border-box;
}
.products__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.products__image:nth-child(1) {
  grid-column: 1/1;
  grid-row: 1/-1;
}

.products__image:nth-child(4) {
  grid-column: 3/4;
  grid-row: -3/-1;
}

.about-us {
  background-color: #eff5fb;
  padding: 137px 380px 170px;
  text-align: center;
}

.about-us__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
  color: #282828;
  max-width: 904px;
  text-align: center;
  margin: 0 auto;
}

.about-us__descriptions {
  margin: 5px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #3a3a3a;
}

.about-us__cards {
  display: flex;
  justify-content: space-between;
  margin: 41px 0 73px;
}

.about-us__card {
  display: flex;
  flex-direction: column;
  width: 23.104%;
  background-repeat: no-repeat;
  background-position: top center;
}

.about-us__card:nth-child(1) {
  background-image: url(./images/card1.png);
}

.about-us__card:nth-child(2) {
  background-image: url(./images/card2.png);
}

.about-us__card:nth-child(3) {
  background-image: url(./images/card3.png);
}

.about-us__card:nth-child(4) {
  background-image: url(./images/card4.png);
}

.about-us__card-heading {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.53;
  max-width: 224px;
  text-transform: uppercase;
  color: #282828;
  margin: 84px auto 0;
}

.about-us__card-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.88;
  color: #3a3a3a;
  margin: 0;
}

.about-us__button {
  padding: 22px 30px;
}
