@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.page {
  color: #fff;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  width: 100vw;
}

.rectangle-intro {
  background: url(./images/rectangle.png);
}
.header {
  display: flex;
  padding: 35.31px 0 0 0;
  width: calc(100% - 760px);
  margin: 0 auto;
}

.header__logo {
  width: 160px;
  height: 56.69px;
}
.header__navigation {
  display: flex;
  margin: 0 auto;
}

.header__links {
  margin: 19px 0 0 0;
  padding: 0;
  display: flex;
  gap: 51px;
  list-style-type: none;
}

.header__link {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
}

.header__contact {
  display: flex;
  background-color: #fb9514;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  align-items: center;
  width: 150px;
  height: 48px;
  justify-content: center;
  border-radius: 4px;
  margin-top: 5px;
  box-shadow: 0px 4px 4px 0px rgba(251, 149, 20, 0.2);
}

.header__whatsapp {
  width: 40px;
  height: 40px;
  margin: 9px 0 0 18px;
  align-items: center;
  display: flex;
}

.intro {
  margin: 184px auto 0 auto;
  max-width: 716px;
  text-align: center;
  font-size: 22px;
  line-height: 1.82;
  padding-bottom: 284px;
}

.intro__heading {
  font-weight: 800;
  font-size: 72px;
  line-height: 0.97;
  margin: 0;
}
.intro__description {
  margin: 21px 0 49px 0;
}

.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  background: #fb9514;
  box-shadow: 0px 4px 4px rgba(251, 149, 20, 0.2);
  border-radius: 4px;
  padding: 22.48px 60px 21px;
  max-width: 217px;
}
